
@{
    ViewData["Title"] = "Console";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> list = ViewBag.list;
}
<div class="card">
    <div class="card-body">
        <div id="textbox" style="height:70vh;width:100%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto; background-color:black; word-wrap: break-word;">
            @foreach (var r in list)
            {
                string color;
                if (r.Contains("WARN"))
                {
                    color = "orange";
                }
                else if (r.Contains("ERROR"))
                {
                    color = "red";
                }
                else
                {
                    color = "white";
                }
                <span style="color: @color;">@r</span><br />
            }
        </div>
        <div class="input-group input-group">
            <input type="text" class="form-control" name="command">
            <span class="input-group-append">
                <button type="button" class="btn btn-info btn-flat disabled" disabled onclick="send()" id="execute">Execute</button>
            </span>
        </div>   
    </div>
</div>

<script>
    let obj = document.getElementById("textbox");
    obj.scrollTop = obj.scrollHeight;
</script>

@section Scripts{ 
    <script src="~/js/init.js"></script>
    <script src="~/js/console.js"></script>
}
