
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-lg-8">
            <h3>Server status</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-microchip"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">CPU Usage</span>
                            <span class="info-box-number">1,410</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-memory"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">RAM Usage</span>
                            <span class="info-box-number">1,410</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-hdd"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">HDD Usage</span>
                            <span class="info-box-number">1,410</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Online players</span>
                            <span class="info-box-number">1,410</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h3>Server control</h3>
            <div class="card">
                <div class="card-body">
                    <button type="button" id="start" class="btn btn-block btn-success" onclick="start()"><i class="fas fa-play"></i> Start</button>
                    <button type="button" id="stop" class="btn btn-block btn-danger disabled" onclick="stop()" disabled><i class="fas fa-stop"></i> Stop</button>
                    <button type="button" id="restart" class="btn btn-block btn-info disabled" onclick="restart()" disabled><i class="fas fa-sync"></i> Restart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <h3>Server activity</h3>
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

@section Scripts{ 
    <script src="~/js/init.js"></script>
    <script src="~/js/index.js"></script>
}